:root {
    --first-text-color:#212121;
    --second-text-color:#ffffff;
    --third-text-color:#757575;
    --first-background-color:#FFFFFF;
    --second-background-color:#2F303A;
    --third-background-color:#F5F4FA;
    --highlight-color: #2196F3;
    --primary-icon-color: #AFB1B8;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

body { font-family: 'Roboto', sans-serif; 
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
}


.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 2px solid red; */
}

/* ----------------------------------------------BACKDROP------------------------------------------------------------- */

.backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.1);
}

.modal {
    position: absolute;
    width: 530px;
    height: 580px;
    background: var(--first-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform var(--transition), visibility var(--transition), opacity var(--transition);
}


.modal-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--first-text-color); 
}


.modal-close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--first-background-color);
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    width: 18px;
    height: 18px;
    transition: fill var(--transition)
}


.modal-close:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.modal-close:hover .close-icon {
    fill: var(--highlight-color);    
} 


/* --------------------------------------------HEADER------------------------------------------ */
.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border: 1px solid #ECECEC
}

.header-list {
    display: flex;
    align-items: center;
} 
.header-contact .link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.envelope-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
    }

.smartphone-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}

.header-container {
    display: flex;
    align-items: center;

} 

.header-connect {
    margin-left: auto;
}
.header-logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    margin-right: 93px;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.web-color {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--highlight-color);
}

.header-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
    transition: color var(--transition);
}

.header-link:hover,
.header-link:focus, 
.header-tel:hover,
.header-tel:focus,
.header-mail:hover,
.header-mail:focus { 
    color: var(--highlight-color);
}

.current {
    color: var(--highlight-color);
    position: relative;
}        

.current::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background-color: var(--highlight-color);
    left: 0;
    bottom: -28px;
}
.header-mail, .header-tel {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
    transition: color var(--transition);    
}

.header-mail {
    margin-right: 50px;
    
}


/* ------------------------------------------HERO SECTION------------------------------------------ */
.hero {
    background-color: var(--second-background-color);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-bg {    
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-text-color);
    margin: 0 auto;
    width: 696px;
    height: 120px;

}

.hero-btn-item {

    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;    
    color:var(--second-text-color);   
    background: var(--highlight-color);
    cursor: pointer;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;    
    padding: 10px 32px; 
    border-radius: 4px;
    border: 1px solid transparent;
    transition: background-color var(--transition), box-shadow var(--transition);
}

.hero-btn-item:hover,
.hero-btn-item:focus {
    background-color: #1986F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}



/* -----------------------------------DESCRIPTION SECTION-------------------------------- */


.description-item:not(:last-child) {
    margin-right: 30px;
}

.description-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-text-color);
    margin-bottom: 10px;

}

.description-item:nth-child(1)::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;    
    background-image: url(../images/Group.svg);
    background-size: height="70" width="70";
    background-repeat: no-repeat;
    background-color: #F5F4FA;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 4px; 
}

.description-item:nth-child(2)::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;    
    background-image: url(../images//clock\ 1.svg);
    background-size: height="70" width="70";
    background-repeat: no-repeat;
    background-color: #F5F4FA;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 4px;  
}

.description-item:nth-child(3)::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;    
    background-image: url(../images/diagram\ 1.svg);
    background-size: height="70" width="70";
    background-repeat: no-repeat;
    background-color: #F5F4FA;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 4px; 
}

.description-item:nth-child(4)::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;    
    background-image: url(../images/astronaut\ 1.svg);
    background-size: height="70" width="70";
    background-repeat: no-repeat;
    background-color: #F5F4FA;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 4px; 
}

.description-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;  
    letter-spacing: 0.03em;
    color: var(--third-text-color);
    width: 270px;
}

.description {
    padding-top: 94px;
    padding-bottom: 94px;
}

.description-list {
    display: flex;
}

/* -----------------------------------------ABOUT SECTION-------------------------------------- */

.about {
    padding-bottom: 94px;
}

.about-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    margin-bottom: 50px;  
}

.about-list {
    display: flex;     
}

img {
    display: block;
    width:100%; 
    height: auto;  
}

.about-list-item:not(:last-child)
{ margin-right: 30px; }


.about-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.about-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-top: 27px;
        padding-bottom: 27px;
        text-align: center;
        align-items: center;
        background-color: rgba(47, 48, 58, 0.8);

}

.about-overlay-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-text-color);
}

/* --------------------------------------COMMAND SECTION--------------------------------------- */
.command {
    background: var(--third-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.command-list {
    display: flex;
    padding-top: 50px;
}

.social-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill var(--transition);   
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color var(--transition);   
    
}

.social-list {
    display: flex;
    justify-content: center; 
    margin-bottom: 30px;
}

.social-item:not(:nth-child(1)) {
    margin-left: 10px;
}


.social-link:hover,
.social-link:focus {
    background-color: var(--highlight-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
    fill: var(--second-text-color);
}

.command-title, .clients-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}

.command-item {
    margin-right: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.command-item:last-child {
    margin-right: 0;
}

.command-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    margin-top: 30px;
    margin-bottom: 10px;
}

.command-item-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
    margin-bottom: 16px;    
}
/* ----------------------------------------CLIENTS-------------------------------------------- */

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title {    
    margin-bottom: 50px;

}

.clients-link {
    display: flex;
    width: 170px;
    height: 92px;   
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: var(--primary-icon-color);
    border-color: var(--primary-icon-color);
    transition: color var(--transition), border-color var(--transition);
}

.clients-list { 
    display: flex;
    justify-content: center;
}

.clients-item:not(:nth-child(1)) {
    margin-left: 30px;
}
.clients-icon { 
    fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
    color: var(--highlight-color);
    border-color: var(--highlight-color)
}

/* -----------------------------------------FOOTER--------------------------------------------- */


.footer {
    display: flex;
    background: var(--second-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-main {
    display: flex;
}
.footer-logo {
    display: block;
    margin-right: 70px;
}

.footer-logo-link {
    display: flex;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    margin-bottom: 20px;
    
}

.footer-address {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    transition: color var(--transition);   
}

.footer-mail, .footer-tel {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;    
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition);
}
.footer-address:hover,
.footer-address:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus { 
color: var(--highlight-color);
}

.footer-list-item:not(:last-child) {
    margin-bottom: 9px;    
}

.join-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-text-color);
    transition: color var(--transition);

}

.join-list {
    display: flex;
}

.join-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF1A;
    transition: background-color var(--transition);
    
}

.join-icon {
    width: 20px;
    height: 20px;
    fill: var(--second-text-color);
    transition: fill var(--transition);
}

.join-title {
    margin-bottom: 20px;
}

.join-item:not(:nth-child(1)) {
    margin-left: 10px;
}

.join-link:hover,
.join-link:focus {
    background-color: var(--highlight-color);

}



/* ------------------------------------------------------------------------------------------------ */
/*------------------------------------------------ PORTFOLIO----------------------------------------*/

.filters {
    padding-top: 94px;
    padding-bottom: 94px;
}


.filters-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}


.btn-title {
    font-family: inherit;
    font-style: normal;
    background-color: var(--third-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    cursor: pointer;
    padding: 6px 22px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: color var(--transition), background-color var(--transition), box-shadow var(--transition);      
}

.content-card {
    text-decoration: none;
    display: block;
    transition: box-shadow var(--transition);
}

.content-card:hover,
.content-card:focus {  
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    
}
/* Позиционированный элемент  */

.portfolio-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay {
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: absolute;

    background-color: rgba(33, 150, 243, 0.9);
    transform: translatey(100%);
    transition: transform var(--transition);
}

.overlay-text {  
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}

.content-card:hover .overlay,
.content-card:focus .overlay {
    transform: translatey(0); 
}



.btn-item:not(:last-child) {
    margin-right: 8px;
}

.btn-title:hover,
.btn-title:focus { 
    background: var(--highlight-color);
    color: var(--second-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
} 

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-description {
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
}

.portfolio-list .portfolio-title {
    width: calc((100% - 90px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
}


.portfolio-item {
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--first-text-color);
}

.porfolio-product {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color:var(--third-text-color);
    margin-top: 4px;
}


.portfolio-list .portfolio-title:nth-child(3n) {
    margin-right: 0;
}

.portfolio-list .portfolio-title:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.current-btn {
    background:var(--highlight-color);
    color: var(--first-background-color);
}