.clients-box {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-box__title {    
    margin-bottom: 50px;
}

.clients { 
    display: flex;
    justify-content: center;
}

.clients__item:not(:nth-child(1)) {
    margin-left: 30px;
}

.clients__link {
    display: flex;
    width: 170px;
    height: 92px;   
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: var(--primary-icon-color);
    border-color: var(--primary-icon-color);
    transition: color var(--transition), border-color var(--transition);

    &:hover,
    &:focus {
        color: var(--highlight-color);
        border-color: var(--highlight-color)
    }
}

.clients__icon { 
    fill: currentColor;
}