.footer {
    
    background: var(--second-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width:1200px) {
        display: flex;
            }
    
}

.footer-main {
    @media screen and (max-width:767px) {
        text-align: center;
        align-items: center;
        }

    @media screen and (min-width:768px) and (max-width:1199px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
    }

    @media screen and (min-width:1200px) {
        display: flex;
        }
}

.footer-logo {
    
    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 50%;
    }

    @media screen and (min-width:1200px) {
        display: block;
        margin-right: 70px;
        }
}

.footer-logo__link {
    display: block;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    margin-bottom: 20px;
    transition: text-shadow var(--transition);
    &:hover {
    text-shadow: 3px 5px 11px rgba(0,0,0,0.8);}

    @media screen and (min-width:1200px) {
        display: flex;
        }
}

.footer-contact__address {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    transition: color var(--transition);   
}

.footer-contact__mail, .footer-contact__tel {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;    
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition);
}
.footer-contact__address:hover,
.footer-contact__address:focus,
.footer-contact__mail:hover,
.footer-contact__mail:focus,
.footer-contact__tel:hover,
.footer-contact__tel:focus { 
color: var(--highlight-color);
}

.footer-contact__item:not(:last-child) {
    margin-bottom: 8px; 
    
    @media screen and (min-width:1200px) {
    margin-bottom: 9px;
    }
}

.footer-join {
    margin-top: 60px;
    margin-bottom: 60px;
    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 50%;
        margin: 0px;
        padding: 0px;
            }

    @media screen and (min-width:1200px) {
        margin: 0px;
        padding: 0px;
    
    }
}

.footer-join__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-text-color);
    transition: color var(--transition);

    @media screen and (min-width:768px) and (max-width:1199px) {
        text-align: center;
            }
    

    
}

.join {
    display: flex;
    justify-content: center;
    
    @media screen and (min-width:1200px) {
    justify-content: start;
    }
    
}

.join__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF1A;
    transition: background-color var(--transition);
    
    &:hover,
    &:focus {
        background-color: var(--highlight-color);
    }
}

.join__icon {
    width: 20px;
    height: 20px;
    fill: var(--second-text-color);
    transition: fill var(--transition);
}

.footer-join__title {
    margin-bottom: 20px;
}

.join__item:not(:nth-child(1)) {
    margin-left: 10px;
}


.footer-form-box {
    color: var(--first-background-color);

    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        align-items: center;
        
    }
    @media screen and (min-width:1200px) {
        margin-left: 93px;
    }
}

.footer-form__title {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--second-text-color);
margin-bottom: 20px;
@media screen and (min-width:768px) and (max-width:1199px) {
    padding-top: 60px;
        
    }
}

.footer-form {
    @media screen and (min-width:1200px) {
        display: flex;
    }
}

.footer-form__input {    
    width: 100%;
    height: 50px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    padding-left: 16px;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;

    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border-color var(--transition);

    &:hover {
        border-color: var(--highlight-color);
    }

    @media screen and (min-width:1200px) {
        width: 358px;
    }
}

.footer-form__item .footer-form__icon {
    margin-left: 10px;
}
