.hero {
    background-color: var(--second-background-color);
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1600px;
    height: 400px;

    @include desk {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero-bg {    
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)), 
        url(../images/hero-background-img-mob-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {background-image: linear-gradient(
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)), 
        url(../images/hero-background-img-mob-2x.jpg);}

    @include tab {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)), 
            url(../images/hero-background-img-tab-1x.jpg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {background-image: linear-gradient(
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)), 
            url(../images/hero-background-img-tab-2x.jpg);}
    }

    @include desk {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)), 
            url(../images/hero-background-img.jpg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {background-image: linear-gradient(
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)), 
            url(../images/hero-background-img-2x.jpg);}
        height: 600px;
    }
}

.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-text-color);
    margin: 0 auto;

    @include tab {
        width: 360px;
        height: 84px;
        }
    

    @include desk {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    height: 120px;
    }
}