// ----------------------------HERO BUTTON-------------------------------
.hero-btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;    
    color:var(--second-text-color);   
    background: var(--highlight-color);
    cursor: pointer;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;    
    padding: 10px 32px; 
    border-radius: 4px;
    border: 1px solid transparent;
    transition: background-color var(--transition), box-shadow var(--transition);
    
    &:hover,
    &:focus {
        background-color: var(--hover-btn-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}



// ----------------------------FOOTER BUTTON-------------------------------
.footer-form__btn { 
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;    
    color:var(--second-text-color);   
    background: var(--highlight-color);
    cursor: pointer;
    padding: 10px 32px; 
    margin-left: 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: background-color var(--transition), box-shadow var(--transition);

    &:hover,
    &:focus {
        background-color: var(--hover-btn-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}


// -----------------------------------PORTFOLIO BUTTON-------------------------------
.filters-btn {
    font-family: inherit;
    font-style: normal;
    background-color: var(--third-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    cursor: pointer;
    padding: 6px 22px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: color var(--transition), background-color var(--transition), box-shadow var(--transition);    
    
    &:hover,
    &:focus { 
        background: var(--highlight-color);
        color: var(--second-text-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
